.main__chatlist {
    border-right: 1px solid #ebe7fb;
    padding: 0 40px 0 5px;
    width: min-content;
}

.align-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.7rem;
}

.btn-nobg {
    background-color: transparent;
    border: none;
    box-shadow: none;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    color: #dad9dd;
    outline: none;
}

.search_wrap {
    background-color: #e6e5ea;
    border-radius: 5px;
}

.search_wrap input {
    background-color: transparent;
    border: none;
    padding: 15px 15px;
    outline: none;
    width: 80%;
    padding-right: 0;
}

.search-btn {
    height: 46px;
    border: none;
    background-color: transparent;
    outline: none;
    width: 20%;
    cursor: pointer;
    font-size: 20px;
}

.chatlist__items {
    margin-top: 30px;
    overflow: auto;
    max-height: calc(100vh - calc(100vh / 2));
}

.chatlist__items1 {
    margin-top: 30px;
    overflow: auto;
    max-height: calc(100vh - calc(100vh / 2));
}

.chatlist__item {
    display: flex;
    border-bottom: 1px solid #ebe7fb;
    padding-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
    padding: 10px 10px 10px 20px;
    transition: all 0.3s cubic-bezier(0.88, 0.19, 0.37, 1.11);
    transform: scale(0);
    animation-name: showIn;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(0.88, 0.19, 0.37, 1.11);
    animation-fill-mode: both;
    animation-delay: 0.1s;

}

.chatlist__item1 {
    display: flex;
    border-bottom: 1px solid #ebe7fb;
    /* padding-bottom: 10px; */
    margin-top: 10px;
    cursor: pointer;
    padding: 10px 10px 10px 20px;
    transition: all 0.3s cubic-bezier(0.88, 0.19, 0.37, 1.11);
    transform: scale(0);
    animation-name: showIn;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(0.88, 0.19, 0.37, 1.11);
    animation-fill-mode: both;
    animation-delay: 0.1s;
}

@keyframes showIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.chatlist__item:first-child {
    margin-top: 0;
}

.chatlist__item1:first-child {
    margin-top: 0;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    position: relative;
}

.avatar img {
    max-width: 100%;
    object-fit: cover;
}

.userMeta {
    position: relative;
}

.userMeta1 {
    position: relative;
}


.userMeta p {
    margin: 0;
    padding: 0;
    color: #000;
    font-weight: 600;
    font-size: 14px;
}

.userMeta1 p {
    margin: 0;
    padding: 0;
    color: #000;
    font-weight: 600;
    font-size: 14px;
}

.userMeta span {
    margin: 0;
    padding: 0;
    color: #ceccd3;
    font-weight: 400;
    font-size: 12px;
    display: block;
}

.userMeta1 span {
    margin: 0;
    padding: 0;
    color: #ceccd3;
    font-weight: 400;
    font-size: 12px;
    display: block;
}

.chatlist__item:hover,
.chatlist__item.active {
    background: #fff;
    border-radius: 10px;
}

.chatlist__item1:hover,
.chatlist__item1.active {
    background: #fff;
    border-radius: 10px;
}

.isOnline {
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 0;
    right: 0;
    background-color: #ddd;
    border-radius: 50%;
    border: 2px solid #fff;
}

.isOnline.active {
    background-color: tomato;
}

.avatar-img {
    overflow: hidden;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.unseenMessageContainer {
    display: flex;
    align-items: center;
}

.unseenMessageText {
    color: #A8A8A8 !important;
    /* Updated color */
    font-weight: bold;
    margin: 0;
}

.unseenMessageBadge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: green;
    border-radius: 50%;
    margin-left: 85%;
    padding: 10px
        /* Updated margin from left to right */
}

.unseenMessageCount {
    color: white;
    font-weight: bold;
    margin: 0;
}



/* New styles for the dot */
.dot {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25px;
}

.dot span {
    height: 20px;
    width: 4px;
    background-color: #a0a0a0;
    /* Use a lighter color for the dots */
    border-radius: 80%;
    margin: 2px;
    z-index: 10;
}

.dot span:nth-child(1) {
    animation-delay: 0s;
}

.dot span:nth-child(2) {
    animation-delay: 0.1s;
}

.dot span:nth-child(3) {
    animation-delay: 0.2s;
}

@keyframes fadeIn {
    0% {
        opacity: 1.5;
    }

    100% {
        opacity: 1;
    }
}

/* Popup Styles */
.popup {
    position: absolute;
    top: 10 px;
    /* Adjust the top position based on your design */
    right: 10px;
    /* Adjust the right position based on your design */
    background-color: #F5F5F5;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
    z-index: 10;
    border-radius: 10%;
}

.popup p {
    margin: 0;
    padding: 8px;
    cursor: pointer;
}

/* Hide the popup by default */
.popup {
    display: none;
}

/* Show the popup when the showPopup state is true */
.popup.show {
    display: block;
}

/* tabs css */

h1 {
    font-size: 40px;
    line-height: 0.8em;
    color: rgba(255, 255, 255, 0.2);
}

.made-with {
    background: #fd264f;
    color: #fff;
    display: block;
    font-size: 12px;
    line-height: 1em;
    margin: 0;
    padding: 5px 110px;
    position: fixed;
    top: 20px;
    right: -100px;
    text-align: center;
    text-decoration: none;
    transform: rotate(45deg);
}

.documentation {
    color: #fd264f;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.tabs {
    display: block;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    overflow: hidden;
}

.tabs [class^="tab"] label,
.tabs [class*=" tab"] label {
    color: #000;
    cursor: pointer;
    display: block;
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1em;
    padding: 1.5rem 1rem 1rem 1.5rem;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.tabs [class^="tab"] [type="radio"],
.tabs [class*=" tab"] [type="radio"] {
    border-bottom: 1px solid rgba(239, 237, 239, 0.5);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.tabs [class^="tab"] [type="radio"]:hover,
.tabs [class^="tab"] [type="radio"]:focus,
.tabs [class*=" tab"] [type="radio"]:hover,
.tabs [class*=" tab"] [type="radio"]:focus {
    border-bottom: 1px solid #fd264f;
}

.tabs [class^="tab"] [type="radio"]:checked,
.tabs [class*=" tab"] [type="radio"]:checked {
    border-bottom: 2px solid #fd264f;
}

.tabs [class^="tab"] [type="radio"]:checked+div,
.tabs [class*=" tab"] [type="radio"]:checked+div {
    opacity: 1;
}

.tabs [class^="tab"] [type="radio"]+div,
.tabs [class*=" tab"] [type="radio"]+div {
    display: block;
    opacity: 0;
    width: 90%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.tabs .tab-2 {
    width: 50%;
}

.tabs .tab-2 [type="radio"]+div {
    width: 200%;
    margin-left: 200%;
}

.tabs .tab-2 [type="radio"]:checked+div {
    margin-left: 0;
}

.tabs .tab-2:last-child [type="radio"]+div {
    margin-left: 100%;
}

.tabs .tab-2:last-child [type="radio"]:checked+div {
    margin-left: -100%;
}